# Default Caddyfile — overwritten by enable-https.sh (selfsigned or acme).
{
	auto_https off
}

:80 {
	redir https://{host}{uri} permanent
}

:443 {
	tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
	encode gzip
	reverse_proxy options_advisor:5001
}
